{%extends 'all-news/base.html'%}

{%block content%}

<div class="container">

  <div class="row">
    <img style="max-width: 100%; max-height: 100%;" src="{{article.article_image.url}}" alt="{{article.title}}" class="img-responsive">
  </div>
  <hr>
  <div class="row">
    <h1 class="text-center">{{article.title}}</h1>
  </div>
  <div class="row">
    {% autoescape on %}
    <p>{{article.post | safe}}</p>
    {% endautoescape%}
  </div>
  <div class="row">
    <p>Posted {{article.pub_date|timesince}} by {{article.editor.first_name}}</p>
  </div>
</div>

{%endblock%}